{% extends "layout.html" %}
{% block body %}

<div class="container">
    <h2>Conference Bingo!</h2>
    <h3>Rules</h3>
    <ul>
        <li>
            When a speaker at the conference says or shows a phrase on a slide, click on the square to mark the term (click again to unmark).
        </li>
        <li>
            The bingo term must be said by the speaker (not by questioners; speaker's response to questions is OK).
        </li>
        <li>
            Speaker does not get credit for his or her own buzzwords.
        </li>
        <li>
            Card is saved automatically at every click (stored under the email address used).
        </li>
        <li>
            Get 5 in a row (vertical, horizontal, diagonal) and you win!
            Announce your winning a bingo card on Twitter using the conference hashtag and/or #bingo.
        </li>
        <li>
            Bonus points for weaving the word "bingo" into a question to the speaker.
        </li>
    </ul>
    <h3>Privacy policy</h3>
    Your email address will not be used for any purposes other than storing your bingo card,
    and aggregated statistics on bingo players at each conference.
</div> <!-- /container -->
{% endblock %}